:root {
  --primary-color: #fff;
  --secondly: #f5f5f5;
  --secondly2: #fefaf1;
  --secondly3: #db4444;
  --text: #FAFAFA;
  --text2: #7D8184;
  --text3: #000;
  --btm: #000;
  --btm2:#00FF66;
  --hover-btm:#E07575;
  --hover2-btm:#A0BCE0;
}

