<footer>
  <div class=" mx-auto  p-5">
    <div class="grid lg:grid-cols-4   md:grid-cols-3 sm:grid-cols-2 text-center md:text-start">
      <!-- card 1 -->
      <div class="card-1 p-5  justify-self-center">
        <h2 class="p-1">Exculsive</h2>
        <h3 class="p-1">Subscribe</h3>
        <p class="p-1">Get 10% off your first order</p>
        <form class="rounded-full border-2 pe-3">
          <input type="email" placeholder="email" class="  bg-transparent w-[90%] border-0  rounded-full">
          <a href="#" class="hover:bg-transparent"> <i class="fa-regular fa-paper-plane "></i></a>
        </form>
      </div>
      <!-- card 2 -->
      <div class="card-2 p-5 justify-self-center text-center md:text-start">
        <h2 class="p-1">Support</h2>
        <p class="p-1">111 Bijoy sarani,Dhaka,Dg 1515 Bangladesh</p>
        <p class="p-1">exulse.gmail.com</p>
        <small>+880115-88888-9999</small>
      </div>
      <!-- card 3 -->
      <div class="card-3 p-5 justify-self-center">
        <h2>Account</h2>
        <!-- links -->
        <ul class="capitalize list-none">
          <li class="p-1"><a href="#" >my account</a></li>
          <li class="p-1"><a href="#" >login / Register</a></li>
          <li class="p-1"><a href="#" >cart</a></li>
          <li class="p-1"><a href="#" >wishlist</a></li>
          <li class="p-1"><a href="#" >shop</a></li>
        </ul>
      </div>
      <!-- card 4  -->
      <div class="card-4 p-5 justify-self-center">
        <h2>Quick link</h2>
        <ul>
          <li class="p-1"> <a href="#">privacy polict</a> </li>
          <li class="p-1"> <a href="#">team of use</a> </li>
          <li class="p-1"> <a href="#">FAQ</a></li>
          <li class="p-1"> <a href="#">contact</a></li>
        </ul>
      </div>
    </div>

    <!-- copy rigth  -->
    <div class="copy-right text-center  ">
      <p class="capitalize ">copy right <a href="#"> saif mohsen</a> 2025</p>
    </div>
  </div>

</footer>
