<section class="grid grid-cols-1 lg:grid-cols-4 gap-4 my-14 text-center " data-aos="fade-up" data-aos-duration="1500">
  <div class="p-6 shadow-md rounded-lg !h-[300px] flex flex-col justify-center bg-gray-100">
    <img src="/Services.png" class="mx-auto " alt="">
    <p class="text-2xl font-bold">10.5k</p>
    <p class="text-gray-500">Sellers active on our site</p>
  </div>
  <div class="p-6 shadow-md flex flex-col justify-center !h-[300px]  rounded-lg bg-red-500 text-white">
    <img src="/Services4.png" class="mx-auto" alt="">
    <p class="text-2xl font-bold">33k</p>
    <p>Monthly Product Sale</p>
  </div>
  <div class="p-6 shadow-md flex flex-col justify-center !h-[300px] bg-gray-100 rounded-lg">
    <img src="/Services2.png" class="mx-auto" alt="">
    <p class="text-2xl font-bold">45.5k</p>
    <p class="text-gray-500">Customers active in our site</p>
  </div>
  <div class="p-6 shadow-md flex flex-col justify-center !h-[300px] bg-gray-100 rounded-lg">
    <img src="/Services3.png" class="mx-auto" alt="">
    <p class="text-2xl font-bold">25k</p>
    <p class="text-gray-500">Annual gross sale</p>
  </div>
</section>
