<div class="container mx-auto py-12">
  <header class="flex flex-col lg:flex-row  px-4 lg:px-16 h-[100vh]">
    <div class="lg:w-1/2  pt-24">
      <h1 class="text-4xl font-bold mb-4">Our Story</h1>
      <p class="text-gray-600">
        Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active presense in
        Bangladesh. Supported by wide range of tailored marketing, data and service solutions, Exclusive has 10,500
        sallers and 300 brands and serves 3 millioons customers across the region.
      </p>
      <br />
      <p class="text-gray-600">
        Exclusive has more than 1 Million products to offer, growing at a very fast. Exclusive offers a diverse
        assotment in categories ranging from consumer.
      </p>
    </div>
    <div class="lg:w-1/2 mt-10">
      <img src="/portrait-two-african-females-holding-shopping-bags-while-reacting-something-their-smartphone 1.png"
        class="w-full md:w-[80%] mx-auto rounded-lg" />
    </div>
  </header>
  <app-section-about-1></app-section-about-1>
  <app-section-about-2></app-section-about-2>
  <app-section-about-3></app-section-about-3>

</div>
