<section class="container mx-auto py-12" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="300">
  <h2 class="text-3xl font-bold text-center mb-8">Our Team</h2>
  <div class="cards flex justify-evenly flex-col md:flex-row">
    <div class="card relative group ">
      <figure class="bg-gray-200 group-hover:scale-[1.05] duration-300 ">
        <img src="/image 46.png" class="px-20 w-[400px] h-[400px] object-cover mx-auto  " alt="">
        <figcaption class="p-2 bg-gray-100  text-center md:text-start mb-5 md:mb-0">
          <h5 class="text-2xl font-bold">Tom Cruise</h5>
          <p>Founder & Chairman</p>
        </figcaption>
      </figure>
      <div class="links opacity-0 group-hover:opacity-100 duration-300   ">
        <ul class="absolute top-0  bg-gray-100  start-0  ">
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="card relative group">
      <figure class="bg-gray-200  group-hover:scale-[1.05] duration-300  ">
        <img src="/image 51.png" class="px-20  w-[400px] h-[400px] object-cover mx-auto  " alt="">
        <figcaption class="p-2 bg-gray-100  text-center md:text-start mb-5 md:mb-0">
          <h5 class="text-2xl font-bold">Emma Watson</h5>
          <p>Managing Director</p>
        </figcaption>
      </figure>
      <div class="links opacity-0 group-hover:opacity-100 duration-300   ">
        <ul class="absolute top-0  bg-gray-100  start-0  ">
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="card relative group">
      <figure class="bg-gray-200  group-hover:scale-[1.05] duration-300  ">
        <img src="/image 47.png" class="px-20  w-[400px] h-[400px] object-cover mx-auto  " alt="">
        <figcaption class="p-2 bg-gray-100  text-center md:text-start mb-5 md:mb-0">
          <h5 class="text-2xl font-bold">Will Smith</h5>
          <p>Product Designer</p>
        </figcaption>
      </figure>
      <div class="links opacity-0 group-hover:opacity-100 duration-300   ">
        <ul class="absolute top-0  bg-gray-100  start-0  ">
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a class="p-2 hover:text-red-400" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
      </div>
    </div>



  </div>
</section>
